.motivations{
    width: 100%;
    height: 1200px;
    margin-bottom: 15rem;
    /* background-color: #e3ccfa; */
   
}
@media only screen and (max-width: 600px) {
  
        .motivations{
            height: 100% ;
            width: 100%;
            background-color: #e3ccfa;

        }

    
  }
.edit-image{
    /* display: block; */
    width: 30%;
    /* height: auto; */
   margin: auto;
   padding-bottom: 20px;
}
.edit-image img{
    height: auto;
}