.wrap {
    width: 100%;
    padding: 2rem;
    background-color: #0e0111;
    color: white;

	height: 900px;
  width: 100%;
  position: relative;
	background-image: url('https://media.istockphoto.com/photos/colorful-background-picture-id1280385511?b=1&k=20&m=1280385511&s=170667a&w=0&h=4-KMkIqgyw2gTBMTBbYZVZoidwRsWZzr3q0xyUDYhas=');

  /* object-fit: cover; */
  background-size: cover;
	background-repeat:no-repeat;
 
   
  }
  .wrap::before{
    height: 800px;
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
   mix-blend-mode: overlay;
    background: #64366e;


  }

  form,
  input,
  textarea,
  button {
    font-family: inherit;
    font-size: initial;
  }
  .form-group label {
    display: block;
    margin: 2rem 0 0.5rem 0;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 1rem 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.15s;
  }
  .form-group input[type="text"],
  .form-group input[type="email"] {
    height: 4.6rem;
  }
  .form-group textarea {
    resize: vertical;
  }
  .submit {
    font-weight: bold;
    margin-top: 1rem !important;;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 12px;

    background: #00ffd1;
    opacity: 0.5;
    cursor: pointer;
    transition: background 0.15s;
  }
  i {
    margin-right: 0.5rem;
  }
  .submit:hover {
    background: #00ffd1;
  }
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group textarea:focus {
    border: 1px solid #222;
  }
  
  /* @media screen and (min-width: 576px) {
    .wrapper {
      width: 70%;
    }
  }
  @media screen and (min-width: 768px) {
    .wrapper {
      width: 55%;
    }
  }
  @media screen and (min-width: 992px) {
    .wrapper {
      width: 45%;
    }
  }
  @media screen and (min-width: 1200px) {
    .wrapper {
      width: 35%;
    }
  } */
  .form{
    /* position: absolute; */
    z-index: 10;
    /* left: 10rem;
    right: 5rem !important; */
    background-color: #0e0111;
    padding: 5%;
    opacity: 0.9;
    margin: auto;
    width: 70% !important;
  }
  form{
   
   
    /* margin: auto; */
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04),
    0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06),
    0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);

  }
  @media only screen and (max-width: 600px) {
    .h1-edit{
      font-size:"2.5rem" !important;
    }

  }